/* header */
.upgrade{
    background-color: rgba(8, 11, 18, 0.5);
}

.nav-bar{
    background-color: black;
}
/* main */
.boxed-link{
    background-color: aqua;
}

.album{
    min-height: 17rem;
    background-color: blueviolet;
    
}
/* footer */

.boxed-footer{
    
    background-color: #282828;
}


body {
    background-color: red;
}

