*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center     {text-align: center;}
.right      {text-align: right;}
.left       {text-align: left;}

.block      {display: block;}
.none       {display: none;}

.flex       {display: flex;}
.row        {flex-direction: row;}
.column     {flex-direction: column;}
.wrap       {flex-wrap: wrap;}
.justify-center     {justify-content: center;}
.justify-start      {justify-content: flex-start;} 

.align-self-start   {align-self: flex-start;}

.overflow-y {overflow-y: scroll;}

.bgColorGrey        {background-color: grey;}
.bgColorWhite       {background-color: white;}
.bgColorLightSky    {background-color: #b4d0e7;}
.bgColorBlack       {background-color: black;}
.bgColorBlue        {background-color: #0061ff;}
.bgColorGreen       {background-color: #a2d39b;}
.bgColorBordeaux    {background-color: #61082b;}
.bgColorLightBlue   {background-color: #0093ce;}
.bgColorRed         {background-color: red;}
.bgColorGreyForOverflow {background-color: #f5f5f5;}
.bgColorDarkRed         {background-color: #d5001f;}
.bgColorDarkBlue        {background-color: #0d2481;}
.bgColorYellow          {background-color: #ffd830;}
.bgColorLightGrey       {background-color: lightgray;}

.colorGrey      {color: grey;}
.colorBlue      {color: #0061ff;}
.colorLightGrey {color: lightgray;}
.colorBlack     {color: black;}
.colorWhite     {color: white;}

.font-700       {font-weight: 700;}
.font-900       {font-weight: 900;}

.marginBottom1em    {margin-bottom: 1em;}
.marginBottom2em    {margin-bottom: 2em;}
.marginBottom3em    {margin-bottom: 3em;}
.marginBottom4-5em  {margin-bottom: 4.5em;}
.marginBottom5em    {margin-bottom: 5em;}

.marginTop1em       {margin-top: 1em;}
.marginTop2em       {margin-top: 2em;}

.marginRight1-2em   {margin-right:1.2em;}

.objectFitCover     {object-fit: cover;}
.objectFitContain   {object-fit: contain;}

.txt-not  {text-decoration: none;}

.pointer  {cursor: pointer;}




