*{
    font-family: 'Nunito Sans', sans-serif;
}


/************
 MOBILE FIRST 
 ************/
/* CSS PER TUTTA LA PAGINA */
 .boxed-album {
     width: 100%;
     padding: 1rem;
     gap: 0.5rem;
 }
 
 .title    {width: 100%;}

/* HEADER */

.upgrade{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 12vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.button-nav{
    margin-right: 2rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 2em;
    background-color: #141922;
    transition: 0.2s;
}

/* animazioni */

.upgrade button:hover   {transform: scale(1.2);}

/* MAIN */

/* navbar */
.nav-bar {
    width: 10%;
    height: calc(100vh - 12vh);
    padding: 0.5rem;
    z-index: 1;
    justify-content: space-between;
}

.nav-bar div    {width: 100%;}

.search img, .library img, .download img{
    filter: invert(50%);
}

.playlist   {width: 100%;}

.add-playlist i{
    font-size: 2rem;
    vertical-align: bottom;
}

.playlist ul li     {list-style: none;}

.nav-bar-bottom{
    line-height: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

#circle-user {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}

.user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 1;
    border-radius: 50%;
}

/* animazioni */

.nav-bar .pointer:hover{
    color: white;
    transition: 0.2s;
}

/* boxed main */
.boxed-main{
    margin-top: 12vh;
    overflow-y: scroll;
    width: 90%;
    height: calc(100vh - 24vh);
}

.transbox{
    display: none;
    z-index: 1;
    font-size: 3rem;
    position: absolute ;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}

/* link utili */

.boxed-link {padding: 2rem 3rem;}

.link   {margin: 0.5em;}

.link a {font-size: 0.75rem;}

.nav-bar-active {position: relative;}

.nav-bar-active:hover{
    color: white;
}

.nav-bar-active:hover::after{
    background-color: #adff2f;
}

.nav-bar-active::after{
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
}

/* ascoltati di recente */

.album{
    position: relative;
    width: calc(100% / 2 - 0.5rem);
}

.album img{
    width: 100%;
    transition: 0.2s;
}

/* creati per l'utente */

.circle {border-radius: 50%;}

/* animazioni */

.album:hover img{
    filter: brightness(0.5);
}
.album:hover .transbox{
    display: block;
}

/* FOOTER */

.boxed-footer{
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 12vh;
    background-color: #282828;
    z-index: 999;
    padding: 0.5rem;
}

.footer-left{
    width: 33%;
    align-items: center;
}

.song{
    width: 30%;
    padding: 0.5rem;
}

.song img{
    width: 100%;
    vertical-align: middle;
}

.info-song  {margin: 0 0.5rem;}

.footer-center{
    width: 33%;
    padding: 1em;
}

.play, .time{
    align-items: center;
    justify-content: space-around;
}


.line{
    width: 50%;
    height: 30%;
    border-radius: 30px;
    margin: 0 1em;
}

.line-point {
    position: relative;
    width: 30%;
    height: 100%;
    border-radius: 30px;
}

.time .circle-line-point {
    position: absolute;
    top: -0.3rem;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: none;
}


.footer-right{
    width: 33%;
    align-items: center;
}

.footer-right i{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.footer-right .line{
    width: 50%;
    height: 10%;
    border-radius: 30px;
    margin-left: -0.3em;
}

.circle-line-point {
    position: absolute;
    top: -0.3rem;
    left: 80%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: none;
}

/* animazioni */

.option .pointer:hover{
    color: white;
    transition: 0.2s;
}

.play .pointer:hover, .footer-right i:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.line-point:hover{
    background-color: #adff2f;
}
.line-point:hover .circle-line-point{
    display: block;
}
/***************
    MEDIA QUERY 
****************/

/* TABLET */
@media  screen and (min-width:639px) {

    /* navbar */
    .nav-bar{
        width: 30%;
        padding: 1rem;
        line-height: 2rem;
    }

    .logo img   {width: 80%;}

    .home img, .search img, .library img, .download img, .user img {
        width: 20%;
        vertical-align: bottom;
    }

    .first-logo {display: none;}

    .secondary-logo {display: inline-block;}

    .nav-bar div span   {display: inline-block;}
    
    .playlist   {display: inline-block;}

    .download hr    {display: block;}

    #circle-user{
        width: 20%;
        height: 100%;
    }

    .user img{
        width: 100%;
        height: 100%;
    }
    /* boxed main */
    .boxed-main {width: 70%;}
    
}

/* DESKTOP */
@media screen and (min-width:878px){
    .nav-bar {width: 20%;}

    .boxed-main {width: 80%;}

    .album {width: calc(100% / 4 - 0.5rem);}

    .song {
        width: 20%;
        padding: 0.5rem;
    }

    .line{
        width: 80%;
        height: 30%;
    }
}

/* LARGE DESKTOP */
@media screen and (min-width:1440px) {
    .nav-bar {width: 15%;}

    .home img,
    .search img,
    .library img {
        width: 15%;
        vertical-align: bottom;
    }

    .download img{width: 10%;}

    #circle-user {
        width: 10%;
        height: 100%;
    }
    
    .user img {
        width: 100%;
        height: 100%;
    }
    
    .boxed-main {width: 85%;}

    .album {width: calc(100% / 6 - 0.5rem);}

    .footer-center{width: 50%;}

    .play   {justify-content: space-evenly;}

    .footer-right,.footer-left{width: 25%;}

    .footer-right i {
        margin-right: 0.5em;
        margin-left: 2em;
    }
}