*{
    font-family: 'Nunito Sans', sans-serif;
}


/************
 MOBILE FIRST 
 ************/
 main {
    background-color: #141922;
 }
 .boxed-album {
     width: 100%;
     padding: 1rem;
     gap: 0.5rem;
 }
 
 .title {
     width: 100%;
 }
/* HEADER */

.upgrade{
    background-color: rgba(8, 11, 18, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 10vh;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.button-nav{
    margin-right: 1rem;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 2em;
    background-color: #141922;
}

/* MAIN */

/* navbar */
.nav-bar {
    z-index: 1;
    width: 10%;
    height: calc(100vh - 10vh);
    padding: 0.5rem;
 
}

.nav-bar div{
    width: 100%;
}

.search img, .library img{
    filter: invert(50%);
}

.playlist{
    width: 100%;
}

.add-playlist i{
    font-size: 2rem;
    vertical-align: bottom;
}

.playlist ul li{
    list-style: none;
}
/* boxed main */
.boxed-main{
    margin-top: 10vh;
    overflow-y: scroll;
    width: 90%;
    height: calc(100vh - 20vh);
}

/* link utili */
.boxed-link{
    padding: 2rem 3rem;
    
}

.link{
    margin: 0.5em;
}

.link a{
    font-size: 0.75rem;
    text-decoration: none;
    color: #7d7f84;
}

.link:hover a{
    border-bottom: 3px solid #adff2f;
}
/* ascoltati di recente */

.album{
    width: calc(100% / 2 - 0.5rem);  
}

.album img{
    width: 100%;
}
/* creati per l'utente */

.circle{
    border-radius: 50%;
}

/* FOOTER */

.boxed-footer{
    width: 100%;
    height: 10vh;
    z-index: 999;
}

/***************
    MEDIA QUERY 
****************/

/* TABLET */
@media  screen and (min-width:639px) {

    /* navbar */
    .nav-bar{
        width: 30%;
        padding: 1rem;
        line-height: 2rem;
    }

    .logo img{
        width: 80%;
    }

    .home img, .search img, .library img{
        width: 20%;
        vertical-align: bottom;
    }
    .first-logo{
        display: none;
    }

    .secondary-logo{
        display: inline-block;
    }

    .nav-bar div span{
        display: inline-block;
    }
    .playlist{
        display: inline-block;
    }

    /* boxed main */
    .boxed-main{
        width: 70%;
    }
    
}

/* DESKTOP */
@media screen and (min-width:878px){
    .nav-bar {
            width: 20%;
    }

    .boxed-main {
        width: 80%;
    }

    .album {
        width: calc(100% / 4 - 0.5rem);
    }
}

/* LARGE DESKTOP */
@media screen and (min-width:1440px) {
    .nav-bar {
        width: 15%;
    }

    .home img,
    .search img,
    .library img {
        width: 15%;
        vertical-align: bottom;
    }
    
    .boxed-main {
        width: 85%;
    }
    .album {
        width: calc(100% / 6 - 0.5rem);
    }
}